.Main
  .Main__group-info
    .chatgroup
      .chatgroup__box
        .chatgroup__box--tittle
          = @group.name
        .chatgroup__box--member
          Menber:
          .menber
            - @group.users.each do |user|
              = user.name
      .chatgroup__edit
        =link_to edit_group_path(@group.id), class: "chatgroup__edit--btn" do
          Edit
  .Main__message-list
    = render @messages
  .Main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .message-form__box
        = f.text_field :content, class: 'message-form__box--type', placeholder: 'type a message'
        = f.label :image, class: 'message-form__box--icon' do
          = icon('far', 'image',class: "form__icon")
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'message-form__btn--send'
         

         